body {
    margin: 0;
    /* margin-top: -60px; */
    padding-top: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }

  html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  

    
}

.content_sections {
    height: 100vh;
}


/* #top {
    transition: all 0.5s;
    height: 100%;
    min-height: 100%;
    background-color: #eb002a;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 100;
} */
#navbar {
    /* text-align: center; */
    /* display: inline; */
    
}

.navbar_items {
    /* float: right; */
    /* display: inline-block; */
}
.centered_items {
    text-align: center;
    
}

/* fix .outer_container .desktop  f*/
.outer_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .desktopGrades {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 50%;
    height: 50%;
  }
  .desktopGrades h1 {
    border: 1px solid #ccc;
  }

  .header {
    
    background: url("/images/header_1166x400.png") no-repeat center center fixed;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
    margin: 0;
    padding: 0;
    margin-top: 0;
    position: relative;
/* 
    background-image: url("/images/header_1166x400.png");
    background-repeat:no-repeat;
    background-size:cover; */
   
    height:100vh;
    widows: 100vw; 
    
    text-align: center;
    
    
  }

.header_text {
    margin-top: 0%;
    position: absolute;
    padding-top: 0%;
    color: #ffffff;
    font-weight: bolder;
    font-size: 75px;
    display: block;
    top:50%;
    left:30%;

}
#section3 {
    
    color: darkblue;
}

#section4_container {
    width: 100%;
  }
  
#section4_left {
    float: left;
    width: 50%;
    
    
    
  }
#section4_right {
    float: right;
    width: 50%;
    
    
  }

#section5 {
    width: 100%;
    display: block;
    float: right;
    
}




#section5_container {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    width:100%;
}
#section5_container>div {
    width: 100px;
    height: 100px;
    
    
    
    display: inline-block;
    

}

/* #section6_container {
    /* text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines; */
    text-decoration: none;
    width:100%;
}
#section6_container>div {
    width: 100px;
    height: 100px;
    display: inline-block;
    

} */
#section6_container a:link {
    text-decoration: none;
}
/* span {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
} */

#arrow_link {
    display: block;
    position: absolute;
    top: 80%;
    left:90%;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}


@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}

#arrow_link a:hover {
    padding-bottom: 20px;
}

  /* #top_div {
      background-image: url("/images/header_1166x400.png");
  }
   */
  #navbar {
    overflow: hidden;
    
    background-color:#f2f2f2;
    
  }
  #navigation_section {
      text-align: center;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
   .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
     padding-top: 60px; 
  } 

  div.fixed {
    /* position: fixed; */
    width: 50%;
    /* bottom: 1px; */
    
  } 

  /* footer styling */



ul {
  list-style: none
}
a {
  text-decoration: none
}
.generic-anchor {
	color: lightgreen;
	&:visited {
		color: lightgreen;
	}
	&:hover {
		color: lightgreen
	}
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}
{
  /* flex: 1 1 auto;  */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  
  font: 12px "Oswald", sans-serif;
  /* color: rgb(155,155,155); */
  /* line-height: 1 */
}
footer {
  background: rgb(55,55,55);
  /* margin-top: auto; */
  /* width: 100% */
}
.footer-list-top {
  /* width: 33.333% */
}
.footer-list-top > li {
  /* text-align: center; */
  /* padding-bottom: 10px */
}
.footer-list-header {

  /* padding: 10px 0 5px 0; */
  color: #fff;
  font: 12px "Oswald", sans-serif
}
.footer-list-anchor {
  font: 12px "Open Sans", sans-serif
}

/* .footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
} */

/* .footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #4CAF50;
  width: calc(100% - 20px)
}
.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: rgb(55,55,55);
  padding: 0 20px
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: #fff
}
.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px
}
.footer-social-overlap > a {
  font-size: 3em
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid lightgreen;
  margin-top: 10px
}
.footer-bottom-section > div:first-child {
  margin-right: auto
}
.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff
}
.footer-address {
  display: inline;
  font-style: normal
}
@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em
  }
  .footer-list-anchor {
    font-size: 1.1em
  }
  .footer-social-connect {
    font-size: 2.5em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em
  }
  .footer-list-top {
    width: 100%
  }
  .footer-list-header {
    font-size: 3em;
  }
  .footer-list-anchor {
    font-size: 1.5em
  }
  .footer-social-section {
    justify-content: center
  }
  .footer-social-section::after {
    top: 25%
  }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px
  }
  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }
  .footer-bottom-section {
    padding: 0 5px 10px 5px
  }
  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }
  .footer-bottom-rights {
    display: block
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em
  }
  .footer-list-anchor {
    font-size: 1.2em
  }
  .footer-social-connect {
    font-size: 2.4em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
} */