.nav-item > a{
    color:#28a745!important;
}

.active > a{
    color:black !important;
    
}
.navbar{
    padding: 1.4rem 1rem !important;
}
.w-90{
    width: 90%;
}
.w-80{
    width:80%;
}
.m-a{
    margin:auto;
}
body{
    color: gray;
}
.bg-gray{
    background-color:#f8f9fa!important;
}

.fs-lgr{
    font-size: larger;
}

.fw-b{
    font-weight: bold;
}
.card-override{
    width: 20.5rem;
    border: none;
    background: none;
    padding: .5rem;
}

.card-body-override{
    padding: 1.25rem 0rem;
}
.card-text-override{
    font-weight: bold;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

@font-face {
    font-family: TrebuchetMSBold;
    src: url(../fonts/Trebuchet\ MS/TrebuchetMSBold);
  }

a{
    font-family: 'TrebuchetMSBold', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
}